<% if I18n.locale == :fr %>
<div class="main-container">
<section class="text-center height-40">
            <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                           <% @projets4.each do |projet| %>
                            <h2><%= projet.title %></h2>
                            <p class="lead">
                               <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%>
                               <% if (user_signed_in?) %><a href="/projets/new">Nouveau projet</a><%end%>

                            </p>
                            <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        
            <section class="space--sm">
                <div class="container">
<div class="categorie"><strong>Catégories :</strong>
<a href="/fr/categories/1">Lettrages véhicules</a> | 
<a href="/fr/categories/2">Evénements</a> | 
<a href="/fr/categories/3">Panneaux et signalisation</a> | 
<a href="/fr/categories/4">Bâches et films spéciaux</a> | 
<a href="/fr/categories/5">Stickering et campagnes publicitaires</a> 
</div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="masonry masonry-blog-magazine">
                                
                                <% @projets_home.each do |projet| %>
                                                                            <div class="masonry__item col-md-6 col-6 h filter-marketing" data-masonry-filter="Marketing" style="">
                                                                             <article class="imagebg border--round">
                                                                             <%= link_to projet_path(projet) do %>
                                                         <%= image_tag url_for(projet.images[0].variant(resize: "600x600")) if projet.images.length > 0 %>
                                                                                <div class="article__title">
                                                                                    <span><%= projet.title %></span>
                                                                                    <h4><% if (user_signed_in?) %> <div class="color"><%= link_to 'Modification', edit_projet_path(projet) %></div><%end%></h4>
                                                                                 </div>
                                                                            <% end %>
                                                                          
                                                                            </article>
                                                                    </div>
                                   
                                <% end %>
                           
    
                                                            <% @projets_all.each do |projet| %>
                                                                            <div class="masonry__item col-md-6 col-6 h filter-marketing" data-masonry-filter="Marketing" style="">
                                                                             <article class="imagebg border--round">
                                                                             <%= link_to projet_path(projet) do %>
                                                                <%= image_tag url_for(projet.images[0].variant(resize: "600x600")) if projet.images.length > 0 %>
                                                                           
                                                                                <div class="article__title">
                                                                                    <span><%= projet.title %></span>
                                                                                    <h4><% if (user_signed_in?) %> <div class="color"><%= link_to 'Modification', edit_projet_path(projet) %></div><div class="color"><%= link_to 'Supprimer',  projet,  method: :delete, data: { confirm: 'Suppression du projet ?' } %></div><%end%></h4>
                                                                                 </div>
                                                                            <% end %>
                                                                          
                                                                            </article>
                                                                    </div>
                                   
                                <% end %>                            
                                    <!--end item-->
                                   
                                </div>
                                <!--end masonry container-->
                                
                            </div>
                            <!--end masonry-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
<% else %>
<div class="main-container">
<section class="text-center height-40">
            <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                           <% @projets4.each do |projet| %>
                            <h2><%= projet.titleen %></h2>
                            <p class="lead">
                               <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%>
                               <% if (user_signed_in?) %><a href="/projets/new">Nouveau projet</a><%end%>
                            </p>
                            <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section class="space--sm">
                <div class="container">
<div class="categorie"><strong>Categories :</strong>
<a href="/en/categories/1">Vehicle lettering</a> | 
<a href="/en/categories/2">Events</a> | 
<a href="/en/categories/3">Signs and signage</a> | 
<a href="/en/categories/4">Tarpaulins and special films</a> | 
<a href="/en/categories/5">Stickering and advertising campaigns</a> 
</div>
                    <div class="row">
                        <div class="col-md-12">

                            <div class="masonry masonry-blog-magazine">
                            
                                <% @projets_home.each do |projet| %>
                                                                            <div class="masonry__item col-md-6 col-6 h filter-marketing" data-masonry-filter="Marketing" style="">
                                                                             <article class="imagebg border--round">
                                                                             <%= link_to projet_path(projet) do %>
                                                                       <%= image_tag url_for(projet.images[0].variant(resize: "600x600")) if projet.images.length > 0 %>
                                                                           
                                                                                <div class="article__title">
                                                                                    <span><%= projet.titleen %></span>
                                                                                    <h4><% if (user_signed_in?) %> <div class="color"><%= link_to 'Modification', edit_projet_path(projet) %></div><%end%></h4>
                                                                                 </div>
                                                                            <% end %>
                                                                          
                                                                            </article>
                                                                    </div>
                                   
                                <% end %>
                             
                                                            <% @projets_all.each do |projet| %>
                                                                            <div class="masonry__item col-md-6 col-6 h filter-marketing" data-masonry-filter="Marketing" style="">
                                                                             <article class="imagebg border--round">
                                                                             <%= link_to projet_path(projet) do %>
                                                                    <%= image_tag url_for(projet.images[0].variant(resize: "600x600")) if projet.images.length > 0 %>
                                                                           
                                                                                <div class="article__title">
                                                                                    <span><%= projet.titleen %></span>
                                                                                    <h4><% if (user_signed_in?) %> <div class="color"><%= link_to 'Modification', edit_projet_path(projet) %></div><div class="color"><%= link_to 'Supprimer',  projet,  method: :delete, data: { confirm: 'Suppression du projet ?' } %></div><%end%></h4>
                                                                                 </div>
                                                                            <% end %>
                                                                          
                                                                            </article>
                                                                    </div>
                                   
                                <% end %>                              
                                    <!--end item-->
                                   
                                </div>
                                <!--end masonry container-->
                                
                            </div>
                            <!--end masonry-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
<% end %>