<head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</head>
<style>
  .nav {
    display:inline;
  }
  body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  }
  h1 {
        font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    font-size: 3.14285714em;
    line-height: 1.31818182em;
  }
  h2 {
        font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
        font-size: 2.35714286em;
    line-height: 1.36363636em;
  }
  h3 {
        font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
        font-size: 1.78571429em;
    line-height: 1.5em;
  }
  h5 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-variant-ligatures: common-ligatures;
    font-size: 1em;
    line-height: 1.85714286em;
        font-weight: 600;
  }
  </style>
  <style>
@media screen and (max-width: 1100px) {
.col-6 {
    min-width:100%;
}
}

@media screen and (max-width: 800px) {
article.imagebg.border--round {
    max-height:250px;
}
}
.masonry__item:not(:empty) article {
    cursor: default;
}
article.imagebg .article__title span {
    font-size: 18px;
}
.imagebg:not(.image--light) h4 {
    font-size:14px;
}
.validate-required.validate-email {
    margin-bottom:14px;
}
img.test {
    min-width: 100%;
    min-height: 100%;
}

article.imagebg.border--round {
    padding:0px;
}

.article__title {
    padding-left: 30px;
}
.color {
    background: #cbd301;
    padding: 1px;
    text-align: center;
    border-radius: 4px;
    display:inline-block;
    min-width:40%;
    font-size:12px;
    margin-right:10px;
}
.color:hover {
  cursor: pointer;
}
article.imagebg.border--round {
    padding: 0px;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(59,64,69,0.1);
    padding: 0px;
}



.dropbtn {
  padding: 5px;
  padding-left:20px;
  padding-right:20px;
  font-size: 16px;
  border-radius:4px;
  border:1px solid #ebebeb;
  cursor: pointer;
      min-width: 300px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
background: #fafafa;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f5f7fb;
}
.col-md-12 {
    z-index: -1;
}
</style>
<div id="en2">
<div class="main-container">
<section class="text-center height-40">
            <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                           <% @projets4.each do |projet| %>
                            <h2><%= projet.titleen %></h2>
                            <p class="lead">
                               <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%>
                               <% if (user_signed_in?) %><a href="/projets/new">Nouveau projet</a><%end%>
                            </p>
                            <% end %>
                        </div>
                    </div>
<div class="dropdown">
  <button class="dropbtn">Catégories</button>
  <div class="dropdown-content">
<% Category.all.each do |category| %>
<%= link_to category.name, category_path(category) %>
<% end %>
  </div>
</div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


            <section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="masonry masonry-blog-magazine">
                                
                                <% @projets_home.each do |projet| %>
                                                                            <div class="masonry__item col-md-6 col-6 h filter-marketing" data-masonry-filter="Marketing" style="">
                                                                             <article class="imagebg border--round">
                                                                             <%= link_to projet_path(projet) do %>
                                                                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                                                            <% end %>
                                                                                <div class="article__title">
                                                                                    <span><%= projet.titleen %></span>
                                                                                    <h4><% if (user_signed_in?) %> <div class="color"><%= link_to 'Modification', edit_projet_path(projet) %></div><%end%></h4>
                                                                                 </div>
                                                                           
                                                                          
                                                                            </article>
                                                                    </div>
                                   
                                <% end %>
                           

                             <% @projets_all.each do |projet| %>
                                    <div class="masonry__item col-md-6 col-6 h filter-marketing" data-masonry-filter="Marketing" style="">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                
                                                   
                                                <%= image_tag projet.images[0] if projet.images.length > 0 %>


                                                <div class="article__title">
                                                    <span><%= projet.titleen %></span>
                                                    <h4><% if (user_signed_in?) %> <div class="color"><%= link_to 'Modification', edit_projet_path(projet) %></div><div class="color"><%= link_to 'Supprimer',  projet,  method: :delete, data: { confirm: 'Suppression du projet ?' } %></div><%end%></h4>
                                                </div>
                                            </article>
                                        </a> 
                                    </div>
                            <% end %>                                 
                                    <!--end item-->
                                   
                                </div>
                                <!--end masonry container-->
                                
                            </div>
                            <!--end masonry-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
</div>
<%# en %>


<div id="fr2">
<div class="main-container">
<section class="text-center height-40">
            <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                           <% @projets4.each do |projet| %>
                            <h2><%= projet.title %></h2>
                            <p class="lead">
                               <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%>
                               <% if (user_signed_in?) %><a href="/projets/new">Nouveau projet</a><%end%>

                            </p>
                            <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        
            <section class="space--sm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="masonry masonry-blog-magazine">
                                
                                <% @projets_home.each do |projet| %>
                                                                            <div class="masonry__item col-md-6 col-6 h filter-marketing" data-masonry-filter="Marketing" style="">
                                                                             <article class="imagebg border--round">
                                                                             <%= link_to projet_path(projet) do %>
                                                                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                                                            <% end %>
                                                                                <div class="article__title">
                                                                                    <span><%= projet.title %></span>
                                                                                    <h4><% if (user_signed_in?) %> <div class="color"><%= link_to 'Modification', edit_projet_path(projet) %></div><%end%></h4>
                                                                                 </div>
                                                                           
                                                                          
                                                                            </article>
                                                                    </div>
                                   
                                <% end %>
                           

                             <% @projets_all.each do |projet| %>
                                    <div class="masonry__item col-md-6 col-6 h filter-marketing" data-masonry-filter="Marketing" style="">
                                            <article class="imagebg border--round" data-scrim-bottom="8">
                                                
                                                   
                                                <%= image_tag projet.images[0] if projet.images.length > 0 %>


                                                <div class="article__title">
                                                    <span><%= projet.title %></span>
                                                    <h4><% if (user_signed_in?) %> <div class="color"><%= link_to 'Modification', edit_projet_path(projet) %></div><div class="color"><%= link_to 'Supprimer',  projet,  method: :delete, data: { confirm: 'Suppression du projet ?' } %></div><%end%></h4>
                                                </div>
                                            </article>
                                        </a> 
                                    </div>
                            <% end %>                                 
                                    <!--end item-->
                                   
                                </div>
                                <!--end masonry container-->
                                
                            </div>
                            <!--end masonry-->
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
        </div>
        </div><%#  fr2%>

  <script>
$(document).ready(function () {
if (window.location.href.indexOf("/en") > -1) {
    // alert("found it");
      document.getElementById("fr2").className = "hide";
} else 
{
    // alert("found it");
    document.getElementById("en2").className = "hide";
}
});
  </script>