<style>
  .nav {
    display:inline;
  }
  body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  }
  h1 {
        font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
    font-size: 3.14285714em;
    line-height: 1.31818182em;
  }
  h2 {
        font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
        font-size: 2.35714286em;
    line-height: 1.36363636em;
  }
  h3 {
        font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-weight: 300;
    font-variant-ligatures: common-ligatures;
    margin-top: 0;
        font-size: 1.78571429em;
    line-height: 1.5em;
  }
  h5 {
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    color: #252525;
    font-variant-ligatures: common-ligatures;
    font-size: 1em;
    line-height: 1.85714286em;
        font-weight: 600;
  }
  .prev, .next{
    display: inline;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ececec;
    color: #666666;
    border-radius: 4px;
    z-index:1;
    padding-left: 20px;
    padding-right: 20px;
    background: #ececec;
    }
      .prev:hover, .next:hover{
cursor:pointer;
    }

.col-md-8 {
    max-height: 600px;
    margin-bottom: 6em;
    padding: 0px;
}
.col-md-4 {
  padding: 30px;
    padding-top: 20px;
}
.container.show {
      border: 1px solid #ebebeb;
    border-radius: 4px;
    margin-bottom: 20px;
    box-shadow: 0 2px 8px rgba(59,64,69,0.1);
    padding: 0px;
}
.slick-list.draggable {
    border-radius: 4px 0px 0px 0px;
}

@media screen and (max-width: 640px) {
.slick-initialized .slick-slide {
    display: block;
    max-height: 400px;
}
}

.container.retour {
    padding-left: 0px;
    margin-bottom: 20px;
    font-size: 16px;
}
.retour, .retour:hover {
    color: #8e8e8e;
    text-decoration:none;
}
img.slick-slide.slick-current.slick-active {
    max-height: 580px;
}
  </style>
<br>
<div class="container retour">
                        <%= link_to projets_path, class:"retour" do %>
                            <i class="fas fa-arrow-circle-left"></i> Retour
                        <% end %>
</div>
                  <div class="container show">
                        <div class="col-md-8">

                          <div class="slider-box _clearfix">
                          <div class="slick-slider">
                                <% (0...@projet.images.count).each do |image| %>
                                <%= image_tag(@projet.large(image))%>
                                <% end %>
                          </div>
                         <div class="paginator-center text-color text-center">
                          <ul>
                              <li class="prev"><i class="fas fa-arrow-circle-left"></i></li>
                              <li class="next"><i class="fas fa-arrow-circle-right"></i></li>
                          </ul>
                        </div>

                        </div>
                        </div>
                        <div class="col-md-4">
                        <% if I18n.locale == :fr %>
                        <h2><%= @projet.title %></h2>
                        <p><%= @projet.body %></p>
                        <p><strong>Catégorie :</strong> <%= @projet.category.name %></p>
                        <% else %>
                        <h2><%= @projet.titleen %></h2>
                        <p><%= @projet.bodyen %></p>
                        <% end %>
                        </div>
                   </div>
</div>

  <%# fr5 %>
<script>
function createSlick(){  

	$(".slick-slider").not('.slick-initialized').slick({
      centerPadding: '60px',
      prevArrow: $('.prev'),
      nextArrow: $('.next'),
      responsive: true
});	

}

createSlick();

//Now it will not throw error, even if called multiple times.
$(window).on( 'resize', createSlick );
</script>