<style>
.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;
    display: block;
}
.slick-track:before,
.slick-track:after
{
    display: table;
    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;
    height: auto;
    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.dynagraph {
  text-decoration: underline #0088CE;
}

.text-center.home {
    padding-top: 60px;
    padding-bottom: 60px;
}
img.dynagraph-grand {
    padding-top: 20px;
    padding-bottom: 20px;
}

section.homeview {
    padding-bottom: 50px!important;
}

.savoirfaire {
    padding-bottom: 50px!important;
}

[data-overlay] *:not(.container):not(.background-image-holder) {
    font-weight:bold;
}
[data-overlay="2"]:before {
    opacity: 0.5;
}
@media screen and (max-width: 940px) {
  a.feature img:first-child:not(:last-child) {
    min-height: 51px!important;
}
}

.test2{
    position: absolute;
    top: 0;
    left: 0;
}
.h3 {
    font-weight:bold;
}
.switchable__text div {
    font-size: 16px!important;
    color: grey!important;
}

.test{
      font-size: 1.35714286em!important;
    line-height: 1.68421053em!important;
        font-weight: 400!important;
    color: #808080!important;
}
img.slick-slide.slick-active {
    width: auto;
    height:auto;
    max-height: 90px;
}
.slick-track {
    display: flex!important;
    align-items: center!important;
}
.background-image-holder {
opacity: 1; object-fit: cover;
}
.image.grand {
    padding-top: 20px;
    padding-bottom: 20px;
    margin: auto;
}
.image.grand img {
    width:30em;
}
section.customer-logos.slider.slick-initialized.slick-slider {
    max-height:93px!important;
}

.feature img {
        min-height: 196px;
}

@media screen and (max-width: 1200px) {
.feature img {
        min-height: 158px;
}
}
@media screen and (max-width: 940px) {
.feature img {
        min-height:auto;
}
}
</style>
<% if I18n.locale == :fr %>
    <section class="text-center home">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-10">
                        <% @projets1.each do |projet| %>
                        <div class="image grand">

                        <%= image_tag projet.images.last.variant(resize_to_fit: [400, 400]) %>


                        </div>
                            <h3 class="h3"><%= projet.title %></h3>
                            <p class="lead body">
                                <div class="test"><%= sanitize projet.body %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%></div>
                            </p>
                        <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

<section class="homeview">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-6">
                        <% @solutions1.each do |solution| %>
                        <%= link_to solutions_path(anchor: 'a'),class:"block" do %>
                         
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="2">

<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>

                                    <h4 class="pos-vertical-center">
                                    <%= solution.title %>
                                    </h4>
                                </div>
                         
                        <% end %>
                        <% end %>
                        </div>
                        <div class="col-md-5 col-6">
                        <% @solutions2.each do |solution| %>
                          <%= link_to solutions_path(anchor: 'b'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="2">
<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>
                                    <h4 class="pos-vertical-center"><%= solution.title %></h4>
                                </div>
                          <% end %>
                        <% end %>
                        </div>
                        <div class="col-md-5 col-6">
                        <% @solutions3.each do |solution| %>
                           <%= link_to solutions_path(anchor: 'c'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="2">
<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>
                                    <h4 class="pos-vertical-center"><%= solution.title %></h4>
                                </div>
                           <% end %>
                        <% end %>
                        </div>
                        <div class="col-md-7 col-6">
                        <% @solutions4.each do |solution| %>
                          <%= link_to solutions_path(anchor: 'd'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="5">
<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>
                                    <h4 class="pos-vertical-center"><%= solution.title %></h4>
                                </div>
                            <% end %>
                        <% end %>
                        </div>
                        <div class="col-md-12 col-12">
                        <% @solutions5.each do |solution| %>
                            <%= link_to solutions_path(anchor: 'e'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="5">
<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>
                                    <h4 class="pos-vertical-center"><%= solution.title %></h4>
                                </div>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


<% @projets2.each do |projet| %>
<center>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><%= projet.title%></h2> 
                            <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
</center>

                <div class="container">
                  <div class="row">
                        <div class="col-md-12">
                          <section class="customer-logos slider">
                                <% (0...projet.images.count).each do |image| %>
                                <%= image_tag(projet.thumbnail(image))%>
                                <% end %>
                          </section>
                        </div>
                   </div>
                </div>
                <!--end of container-->
<% end %>
<section>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h3>Exemples de réalisations</h3>
                        </div>
                        <div class="col-6 text-right">
                             <%= link_to 'Voir plus', projets_path %>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <span class="feature">
                              <% @projets5.each do |projet| %>
                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                <h5 class="mb--0"><%= projet.title %></h5>
                                <div><%= projet.body %> <% if (user_signed_in?) %><%end%></div>
                              <% end %>
                            </span>
                        </div>
                        <div class="col-md-3 col-6">
                            <span class="feature">
                              <% @projets6.each do |projet| %>
                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                <h5 class="mb--0"><%=projet.title %></h5>
                                <div><%= projet.body %> <% if (user_signed_in?) %><%end%></div>
                                <%end%>
                            </span>
                        </div>
                        <div class="col-md-3 col-6">
                            <span class="feature">
                              <% @projets7.each do |projet| %>
                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                <h5 class="mb--0"><%= projet.title %></h5>
                                <div><%= projet.body %> <% if (user_signed_in?) %><%end%></div>
                                <% end %>
                            </span >
                        </div>
                        <div class="col-md-3 col-6">
                            <span class="feature">
                               <% @projets8.each do |projet| %>
                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                <h5 class="mb--0"><%= projet.title %></h5>
                                <div><%= projet.body %> <% if (user_signed_in?) %><%end%></div>
                                <% end %>
                            </span>
                        </div>
                    </div>
                </div>
            </section>





<section class="savoirfaire">
                <div class="container">
                    <div class="row justify-content-around">
                     <% @projets3.each do |projet| %>
                        <div class="col-md-6">
                            <%= image_tag projet.images[0] if projet.images.length > 0 %>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2><%= projet.title %></h2>
                                <p class="lead">
                                    <%= sanitize projet.body %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%>
                                     <br><%= link_to 'Lire plus', abouts_path %>
                                </p>
                            </div>
                        </div>
                    <% end %>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


<% else %>
    <section class="text-center home">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-10 col-lg-10">
                        <% @projets1.each do |projet| %>
                        <div class="image grand">
                        <%= image_tag projet.images[0] if projet.images.length > 0 %>
                        </div>
                            <h3 class="h3"><%= projet.titleen %></h3>
                            <p class="lead body">
                                <div class="test"><%= sanitize projet.bodyen %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%></div>
                            </p>
                        <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>

<section class="homeview">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7 col-6">
                        <% @solutions1.each do |solution| %>
                            <%= link_to solutions_path(anchor: 'aa'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="2">

<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>

                                    <h4 class="pos-vertical-center">
                                    <%= solution.titleen %>
                                    </h4>
                                </div>
                            <% end %>
                        <% end %>
                        </div>
                        <div class="col-md-5 col-6">
                        <% @solutions2.each do |solution| %>
                           <%= link_to solutions_path(anchor: 'bb'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="2">
<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>
                                    <h4 class="pos-vertical-center"><%= solution.titleen %></h4>
                                </div>
                         <% end %>
                        <% end %>
                        </div>
                        <div class="col-md-5 col-6">
                        <% @solutions3.each do |solution| %>
                           <%= link_to solutions_path(anchor: 'cc'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="2">
<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>
                                    <h4 class="pos-vertical-center"><%= solution.titleen %></h4>
                                </div>
                            <% end %>
                        <% end %>
                        </div>
                        <div class="col-md-7 col-6">
                        <% @solutions4.each do |solution| %>
                            <%= link_to solutions_path(anchor: 'dd'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="5">
<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>
                                    <h4 class="pos-vertical-center"><%= solution.titleen %></h4>
                                </div>
                           <% end %>
                        <% end %>
                        </div>
                        <div class="col-md-12 col-12">
                        <% @solutions5.each do |solution| %>
                           <%= link_to solutions_path(anchor: 'ee'),class:"block" do %>
                                <div class="feature feature-7 boxed text-center imagebg" data-overlay="5">
<%= image_tag(solution.images[0],class:"background-image-holder") if solution.images.length > 0 %>
                                    <h4 class="pos-vertical-center"><%= solution.titleen %></h4>
                                </div>
                            <% end %>
                        <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>


<% @projets2.each do |projet| %>
<center>
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <h2><%= projet.titleen %></h2> 
                            <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
</center>

                <div class="container">
                  <div class="row">
                        <div class="col-md-12">
                          <section class="customer-logos slider">
                                <% (0...projet.images.count).each do |image| %>
                                <%= image_tag(projet.thumbnail(image))%>
                                <% end %>
                          </section>
                        </div>
                   </div>
                </div>
                <!--end of container-->
<% end %>
<section>
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <h3>Examples of achievements</h3>
                        </div>
                        <div class="col-6 text-right">
                             <%= link_to 'Read more', projets_path ,class:"modal-trigger"%>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-6">
                            <span class="feature">
                              <% @projets5.each do |projet| %>
                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                <h5 class="mb--0"><%= projet.titleen %></h5>
                                <div><%= projet.bodyen %> <% if (user_signed_in?) %><%end%></div>
                              <% end %>
                            </span>
                        </div>
                        <div class="col-md-3 col-6">
                            <span class="feature">
                              <% @projets6.each do |projet| %>
                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                <h5 class="mb--0"><%=projet.titleen %></h5>
                                <div><%= projet.bodyen %> <% if (user_signed_in?) %><%end%></div>
                                <%end%>
                            </span>
                        </div>
                        <div class="col-md-3 col-6">
                            <span class="feature">
                              <% @projets7.each do |projet| %>
                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                <h5 class="mb--0"><%= projet.titleen %></h5>
                                <div><%= projet.bodyen %> <% if (user_signed_in?) %><%end%></div>
                                <% end %>
                            </span >
                        </div>
                        <div class="col-md-3 col-6">
                            <span class="feature">
                               <% @projets8.each do |projet| %>
                                <%= image_tag projet.images[0] if projet.images.length > 0 %>
                                <h5 class="mb--0"><%= projet.titleen %></h5>
                                <div><%= projet.bodyen %> <% if (user_signed_in?) %><%end%></div>
                                <% end %>
                            </span>
                        </div>
                    </div>
                </div>
            </section>





<section class="savoirfaire">
                <div class="container">
                    <div class="row justify-content-around">
                     <% @projets3.each do |projet| %>
                        <div class="col-md-6">
                            <%= image_tag projet.images[0] if projet.images.length > 0 %>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <div class="switchable__text">
                                <h2><%= projet.titleen %></h2>
                                <p class="lead">
                                    <%= sanitize projet.bodyen %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_projet_path(projet) %><%end%>
                                    <br>
                                     <%= link_to 'Read more', abouts_path%>
                                </p>
                            </div>
                        </div>
                    <% end %>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
<% end %>
<script>
function createSlick(){  

	$(".customer-logos").not('.slick-initialized').slick({
    autoplay: true,
    dots: false,
    arrows:false,
    pauseOnHover: false,
    slidesToShow: 7,
    slidesToScroll: 1,
    autoplaySpeed: 1500,
    responsive: [{ 
        breakpoint: 500,
        settings: {
            dots: false,
            arrows: false,
            infinite: false,
            slidesToShow: 2,
            slidesToScroll: 2
        } 
    }]
});	

}

createSlick();

//Now it will not throw error, even if called multiple times.
$(window).on( 'resize', createSlick );
</script>