<% if I18n.locale == :fr %>
<div class="main-container">
            <section class="text-center height-40">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                        <% @abouts.each do |about| %>
                            <h1><%= about.title %></h1>
                            <p class="lead">
                                <div class="test"><%= sanitize about.body %></div> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                            <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable feature-large bg--secondary space--sm">
            <% @abouts1.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                     <%= image_tag(url_for(about.images[0].variant(resize: "800x800")), class:"background-image-holder test") if about.images.length > 0 %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.title %></h2>
                            <p class="lead">
                                <%= sanitize about.body %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
             <% end %>
            </section>
            <section class="imageblock switchable switchable--switch feature-large bg--secondary space--sm">
             <% @abouts2.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                   <%= image_tag(url_for(about.images[0].variant(resize: "800x800")), class:"background-image-holder test") if about.images.length > 0 %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.title %></h2>
                            <p class="lead">
                                <%= sanitize about.body %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            <% end %>
            </section>
            <section class="imageblock switchable feature-large bg--secondary space--sm">
             <% @abouts3.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                       <%= image_tag(url_for(about.images[0].variant(resize: "800x800")), class:"background-image-holder test") if about.images.length > 0 %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.title %></h2>
                            <p class="lead">
                                <%= sanitize  about.body %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
             <% end %>
            </section>
        </div>
<% else %>
<div class="main-container">
            <section class="text-center height-40">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                        <% @abouts.each do |about| %>
                            <h1><%= about.titleen %></h1>
                            <p class="lead">
                                <div class="test"><%= sanitize about.bodyen %></div> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                            <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable feature-large bg--secondary space--sm">
            <% @abouts1.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                  <%= image_tag(url_for(about.images[0].variant(resize: "800x800")), class:"background-image-holder test") if about.images.length > 0 %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.titleen %></h2>
                            <p class="lead">
                                <%= sanitize about.bodyen %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
             <% end %>
            </section>
            <section class="imageblock switchable switchable--switch feature-large bg--secondary space--sm">
             <% @abouts2.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                   <%= image_tag(url_for(about.images[0].variant(resize: "800x800")), class:"background-image-holder test") if about.images.length > 0 %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.titleen %></h2>
                            <p class="lead">
                                <%= sanitize about.bodyen %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            <% end %>
            </section>
            <section class="imageblock switchable feature-large bg--secondary space--sm">
             <% @abouts3.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                     <%= image_tag(url_for(about.images[0].variant(resize: "800x800")), class:"background-image-holder test") if about.images.length > 0 %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.titleen %></h2>
                            <p class="lead">
                                <%= sanitize  about.bodyen %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
             <% end %>
            </section>
        </div>
        </div>
<% end %>