<style>
.col-md-6,.col-md-12 {
    padding-left:0px;
}
.col-md-12.boxed {
    padding-bottom: 0px;
}
.btn:not(:disabled):not(.disabled) {
    width: 103%;
}
section.bg--secondary {
    border-top: 1px solid #ececec;
}
.background-image-holder.test {
    background: url(/assets/education-1.jpg);
    opacity:1;
}
.background-image-holder.test2 {
    background: url(/assets/inner-5.jpg);
    opacity:1;
}
.lead.dyna a.dynagraph.nav {
    font-size: 20px;
}
.test {
    font-weight: 400!important;
    color: #808080!important;
    font-size: 1.35714286em!important;
    line-height: 1.68421053em!important;
}
.background-image-holder.test {
object-fit: cover;
}
</style><div class="main-container">
            <section class="text-center height-40">
                <div class="container pos-vertical-center">
                    <div class="row">
                        <div class="col-md-8">
                        <% @abouts.each do |about| %>
                            <h1><%= about.title %></h1>
                            <p class="lead">
                                <div class="test"><%= sanitize about.body %></div> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                            <% end %>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            </section>
            <section class="imageblock switchable feature-large bg--secondary space--sm">
            <% @abouts1.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                        <%= image_tag (about.images[0] if about.images.length > 0), class:"background-image-holder test" %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.title %></h2>
                            <p class="lead">
                                <%= about.body %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
             <% end %>
            </section>
            <section class="imageblock switchable switchable--switch feature-large bg--secondary space--sm">
             <% @abouts2.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                        <%= image_tag (about.images[0] if about.images.length > 0), class:"background-image-holder test" %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.title %></h2>
                            <p class="lead">
                                <%= about.body %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
            <% end %>
            </section>
            <section class="imageblock switchable feature-large bg--secondary space--sm">
             <% @abouts3.each do |about| %>
                <div class="imageblock__content col-lg-6 col-md-4 pos-right">
                 <div>
                        <%= image_tag (about.images[0] if about.images.length > 0), class:"background-image-holder test" %>
                 </div>
                </div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-7">
                            <h2><%= about.title %></h2>
                            <p class="lead">
                                <%= about.body %> <% if (user_signed_in?) %><%= link_to 'Modification', edit_about_path(about) %><%end%>
                            </p>
                        </div>
                    </div>
                    <!--end of row-->
                </div>
                <!--end of container-->
             <% end %>
            </section>
        </div>