<% if (user_signed_in?) %>
<%= form_with(model: solution, local: true) do |form| %>
  <% if solution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(solution.errors.count, "error") %> prohibited this solution from being saved:</h2>

      <ul>
      <% solution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <label>Titre</label>
    <%= form.text_field :title %>
  </div>
  

  <div class="field">
    <label>Description</label>
    <%= form.hidden_field :body, id:"Body" %>
    <trix-editor input="Body" name="text" id="text"></trix-editor>
  </div><br>

<%= form.file_field :images, multiple: true %>
<br><br>
<div class="row">
   <% (0...@solution.images.count).each do |image| %>
    <div class="col-md-4">
        <div class="panel panel-default">
            <div class="panel-heading preview">
                <%= image_tag(@solution.medium(image))%>
            </div>
            <div class="panel-body">
                <span class="pull-right">
                    <%= link_to delete_image_attachment_solution_url(@solution.images[image]), method: :delete, data: {confirm: "Supprimer l'image ?"} do %>
                    <i class="fa fa-times fa-lg"></i>
                    <% end %>
                </span>
            </div>
        </div>
    </div>
    <% end %>
</div>
<br><br>


  <div class="actions">
    <%= form.submit "Modifier" %>
  </div>
<% end %>
<% end %>
