<style>
a.dynagraph.nav {
    font-size: 18px;
    color: #222;
    text-decoration:none!important;
}
.logo-mini {
    margin-bottom:0.4em!important;
    margin-right:0.2em;
}

.bar__module.nav {
    font-family: "DINMedium";
    padding-top:2px;
}

ul.menu-horizontal {
    position: relative!important;
    top: 5px!important;
}

a.activemenu {
    display:none!important;
}
.topnav {
  overflow: hidden;
}

.topnav a {
  float: left;
  display: block;
  padding-right:10px;
  font-size:12px;
  font-weight:400;
  color: #a3a3a3;
  text-decoration: none;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
  a.activemenu {
    display:block!important;
}
}

.col-lg-6.text-right.text-left-xs.text-left-sm {
    padding-top: 4px;
}

</style>
<section class="bar bar-3 bar--sm bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bar__module nav">
                            <%= link_to root_path do %><%= image_tag "DynagraphCarre.png", class:"logo-mini", height:25%><% end %> <span class="type--fade"><%= link_to 'dynagraph', root_path,class:"dynagraph nav" %> | digital printing & lettering</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal">
                                <div class="topnav" id="myTopnav">
                                <a href="#" class="activemenu">Menu</a>
                                        <a href="/abouts" class="modal-trigger" data-modal-index="0">Qui sommes nous ?</a>
                                
                                        <a href="/solutions" class="modal-trigger" data-modal-index="1">Nos solutions</a>
                               
                                        <a href="/projets" class="modal-trigger" data-modal-index="2">Références et réalisations</a>
                               
                                        <%= link_to 'Contact', new_contact_path,class:"modal-trigger" %>
                                        <% if (user_signed_in?) %> <%= link_to destroy_user_session_path, style:"color:black;", method: :delete do%>(Déconnexion)<%end%><%end%>
                                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                            <i class="fa fa-bars"></i>
                                        </a>
                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>
