<section class="bar bar-3 bar--sm bg--secondary">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="bar__module nav">
                            <%= link_to root_path do %><%= image_tag "DynagraphCarre.png", class:"logo-mini", height:25%><% end %> <span class="type--fade"><%= link_to 'dynagraph', root_path,class:"dynagraph nav" %> | digital printing & lettering</span>
                        </div>
                    </div>
                    
                    <div class="col-lg-6 text-right text-left-xs text-left-sm">
                        <div class="bar__module">
                            <ul class="menu-horizontal">
                                <div class="topnav" id="myTopnav">
                               
                                <a href="#" class="activemenu">Menu</a>
                                        <% if I18n.locale == :fr %>
                                         <%= link_to 'Qui sommes nous ?', abouts_path ,class:"modal-trigger"%>

                                        <%= link_to 'Nos solutions', solutions_path ,class:"modal-trigger"%>

                                        <%= link_to 'Références et réalisations', projets_path ,class:"modal-trigger"%>

                                        <%= link_to 'Contact', new_contact_path ,class:"modal-trigger"%>
                                        <span class="drapeau">
                                        <%= link_to url_for(locale: :en) do %>
                                            <%= image_tag('united-kingdom.png',width:16, alt: 'English') %>
                                        <% end %>
                                        </span>
                                        <% else %>
                                         <%= link_to 'About us', abouts_path ,class:"modal-trigger"%>

                                        <%= link_to 'Our solutions', solutions_path ,class:"modal-trigger"%>

                                        <%= link_to 'References and achievements', projets_path ,class:"modal-trigger"%>

                                        <%= link_to 'Contact us', new_contact_path ,class:"modal-trigger"%>
                                        <span class="drapeau">
                                        <%= link_to url_for(locale: :fr) do %>
                                            <%= image_tag('france.png',width:16, alt: 'English') %>
                                        <% end %>
                                        </span>
                                        <% end %>
                        
                                        <% if (user_signed_in?) %> <%= link_to destroy_user_session_path, style:"color:black;", method: :delete do%>(Déconnexion)<%end%><%end%>
                                        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
                                            <i class="fa fa-bars"></i>
                                        </a>

                                </div>
                            </ul>
                        </div>
                    </div>
                </div>
                <!--end of row-->
            </div>
            <!--end of container-->
        </section>


<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>